body{
	font-family: sans-serif;
}

.graph-image{
	height: 218px;
}

#links-index a{
	font-family: "segoe ui","helvetica neue", sans-serif;
    color: #B3B3B3;
    text-decoration: none;
    font-size: 2em;
    transition: .3s;
}

#links-index{
    left: 50%;
    top: 50%;
    margin-left: -37px;
    margin-top: -46px;
    position: absolute;
}

#links-index a:hover{
    color: #fff;
}

.generic-yellow {
    position: relative;
    height: 13px;
    background-color: #FFD900;
    width: 100%;
    top: 0;
}

img#rnp-utf-logo {
    height: 30px;
    position: fixed;
    top: 10px;
    left: 12px;
}
#rnp{
	text-align: center;
	border-collapse: collapse;
}
#rnp td{
    margin-left: 0;
    border: 1px solid gainsboro;
    width: 15% !important;    
}
#rnp h3 {
    top: 10px;
    position: relative;
}

#loginrnp {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    margin-top: 4px;
    position: absolute;
    width: 97%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}